---
import OnThisPage from '@src/components/Layout/OnThisPage.astro'
import Translate from '@src/components/Layout/Translate.astro'
import Layout from '@src/layouts/SidebarLayout.astro'
import { geti18nCollection, convertCollectionToTree } from '@src/utils'
import { astroI18n, t } from 'astro-i18n'

export async function getStaticPaths() {
  const collection = await geti18nCollection('docs', astroI18n.langCode)

  return collection.map((entry) => ({
    params: {
      slug: `${astroI18n.langCode}/${entry.slug}`,
    },
    props: {
      entry,
      collection,
    },
  }))
}

const { entry, collection } = Astro.props
const tree = convertCollectionToTree(collection)

const { Content, headings } = await entry.render()
---

<Layout title="test docs post" leadingSidebar={true}>
  <div slot="leading-sidebar">
    <ul>
      <li class="list-heading">{t('layout.related-pages')}</li>
      {
        tree.map((entry) => (
          <li class="list-item">
            <a href={`${entry.slug}`}>{entry.slug}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="prose">
    <Content />
  </div>
  <div slot="trailing-sidebar">
    <ul>
      <li class="list-heading">{t('layout.on-this-page')}</li>
      <OnThisPage headings={headings} />
      <li class="list-base"></li>
      {
        entry.data.i18n_ready && (
          <>
            <li class="list-heading">{t('layout.contribute')}</li>
            <Translate />
          </>
        )
      }
    </ul>
  </div>
</Layout>
