---
import Layout from '@src/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Author from '@src/components/Blog/Author.astro'

export async function getStaticPaths() {
  const collection = await getCollection('blog')

  return collection.map((entry) => {
    const [locale, slug] = entry.slug.split('/')

    const path = []
    if (locale !== 'en') {
      path.push(locale)
    }

    path.push(entry.data.date.getFullYear())
    path.push(String(entry.data.date.getMonth() + 1).padStart(2, '0'))
    path.push(String(entry.data.date.getDate() + 1).padStart(2, '0'))
    path.push(slug)

    return {
      params: {
        slug: path.join('/'),
      },
      props: { entry },
    }
  })
}

const { entry } = Astro.props
const { Content, headings } = await entry.render()
---

<Layout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <p class="small-caps">
    Posted {
      entry.data.date.toLocaleDateString(undefined, { dateStyle: 'long' })
    }
  </p>
  <Author authors={entry.data.authors} />
  {entry.data.imageSrc && <img src={entry.data.imageSrc} />}
  {entry.data.summary && <p>{entry.data.summary}</p>}
  <Content />
</Layout>
