---
import Author from '@src/components/Blog/Author.astro'
import Layout from '@src/layouts/SidebarLayout.astro'
import { geti18nCollection } from '@src/utils'
import { astroI18n, t } from 'astro-i18n'

export async function getStaticPaths() {
  const collection = await geti18nCollection('blog', astroI18n.langCode)

  return collection.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: {
      entry,
    },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.meta_title}>
  <h1>{entry.data.meta_title}</h1>
  <div class="small-caps">
    {entry.data.date.toLocaleDateString(undefined, { dateStyle: 'long' })}
  </div>
  {
    entry.data.imageSrc && (
      <img src={entry.data.imageSrc} alt={t('blog.post-image')} />
    )
  }
  {entry.data.meta_description && <div>{entry.data.meta_description}</div>}
  <Author authors={entry.data.authors} />
  <Content />
  <p slot="trailing-sidebar">Trailing Sidebar</p>
</Layout>
