---
import Author from '@src/components/Blog/Author.astro'
import OnThisPage from '@src/components/Layout/OnThisPage.astro'
import Layout from '@src/layouts/SidebarLayout.astro'
import { geti18nCollection } from '@src/utils'
import { astroI18n, t } from 'astro-i18n'

export async function getStaticPaths() {
  const collection = await geti18nCollection('blog', astroI18n.langCode)

  return collection.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: {
      entry,
    },
  }))
}

const { entry } = Astro.props
let { Content, headings } = await entry.render()
---

<Layout title={entry.data.meta_title}>
  <div class="flex flex-col gap-4">
    <h1>{entry.data.meta_title}</h1>
    <div class="small-caps">
      {entry.data.date.toLocaleDateString(undefined, { dateStyle: 'long' })}
    </div>
    <Author authors={entry.data.authors} />
    {
      entry.data.imageSrc && (
        <img
          src={entry.data.imageSrc}
          alt={t('blog.post-image')}
          class="rounded-lg"
        />
      )
    }
    {entry.data.meta_description && <div>{entry.data.meta_description}</div>}

    <main class="prose">
      <Content />
    </main>
  </div>
  <div slot="trailing-sidebar">
    <OnThisPage headings={headings} />
  </div>
</Layout>
