---
import Author from '@src/components/Blog/Author.astro'
import Layout from '@src/layouts/Layout.astro'
import { geti18nCollection } from '@src/utils'
import { t, l, astroI18n } from 'astro-i18n'

const entries = await geti18nCollection('blog', astroI18n.langCode)
entries.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<Layout title={t('blog.title')}>
  <main>
    <h1 class="h1">{t('blog.recent-blog-posts')}</h1>
    <div class="flex flex-col gap-4">
      {
        entries.map((post) => (
          <a href={l(`/blog/${post.slug}`)}>
            <div class="card">
              {post.data.imageSrc && (
                <img
                  class="rounded-t-lg object-cover max-h-[50vh] w-full"
                  src={post.data.imageSrc}
                />
              )}
              <div class="card-body flex flex-col gap-2">
                <Author authors={post.data.authors} />
                <div class="text-xl">{post.data.meta_title}</div>
                <div>{post.data.meta_description}</div>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </main>
</Layout>
