---
import config from '../../config'
import IconCaret from '~icons/bi/caret-down-fill'
---

{
  config.navbar.map((item) => (
    <li>
      {item.children && (
        <label tabindex="0">
          {item.title}
          {item.children && <IconCaret class="text-xs" />}
        </label>
      )}
      {!item.children && (
        <a href={item.href}>
          {item.title}
          {item.children && <IconCaret class="text-xs" />}
        </a>
      )}
      {item.children && (
        <ul>
          {item.children.map((child) => (
            <li>
              <a href={child.href}>{child.title}</a>
            </li>
          ))}
        </ul>
      )}
    </li>
  ))
}
