---
import { t, l } from 'astro-i18n'
import Dropdown from '../Dropdown.astro'

type navbarItem = {
  title: string
  href?: string
  children?: navbarItem[]
}

const navbar: navbarItem[] = [
  {
    title: t('global.nav.docs'),
    href: l('/docs'),
  },
  {
    title: t('global.nav.references'),
    children: [
      {
        title: t('global.nav.javascript-api'),
        href: l('/api/core-js/1'),
      },
      {
        title: t('global.nav.rust-api'),
        href: l('/api/core-rust/1'),
      },
      {
        title: t('global.nav.tauri-config'),
        href: l('/api/core-config/1'),
      },
      {
        title: t('global.nav.tauri-cli'),
        href: l('/api/core-cli/1'),
      },
    ],
  },
  {
    title: t('global.nav.about'),
    href: l('/about'),
  },
]
---

{
  /* Fragment is here because Astro cannot seem to handle multiple JSX-containing elements as root */
}
<>
  {
    navbar.map((item) =>
      item.children ? (
        <li>
          <Dropdown inlineMenu={Astro.props.inlineMenu}>
            <Fragment slot="toggle">{item.title}</Fragment>
            <ul slot="content">
              {item.children.map((child) => (
                <li>
                  <a href={child.href} class="btn btn-inline text-left">
                    {child.title}
                  </a>
                </li>
              ))}
            </ul>
          </Dropdown>
        </li>
      ) : (
        <li>
          <a href={item.href} class="btn btn-inline text-left">
            {item.title}
          </a>
        </li>
      )
    )
  }
</>
