---
import { t, l } from 'astro-i18n'
import Dropdown from '../Dropdown.astro'

type navbarItem = {
  title: string
  href?: string
  target?: '_blank'
  children?: navbarItem[]
}

const navbar: navbarItem[] = [
  {
    title: t('global.nav.documentation'),
    href: l('/docs/1/getting-started/prerequisites'),
  },
  {
    title: t('global.nav.references'),
    children: [
      {
        title: t('global.nav.javascript-api'),
        href: l('/api/js/1/'),
      },
      {
        title: t('global.nav.rust-api'),
        href: 'https://docs.rs/tauri/1/',
        target: '_blank',
      },
      {
        title: t('global.nav.tauri-config'),
        href: l('/api/config/1/'),
      },
      {
        title: t('global.nav.tauri-cli'),
        href: l('/api/cli/1/'),
      },
    ],
  },
  {
    title: t('global.nav.blog'),
    href: 'https://tauri.app/blog',
  },
  {
    title: t('global.nav.about'),
    href: l('/about/'),
  },
]
---

{
  navbar.map((item) =>
    item.children ? (
      <li class="shrink-0">
        <Dropdown
          inlineMenu={Astro.props.inlineMenu}
          btnClass="btn-normal btn-inline text-left"
        >
          <Fragment slot="toggle">{item.title}</Fragment>
          <ul slot="content">
            {item.children.map((child) => (
              <li>
                <a
                  href={child.href}
                  class="btn-normal btn-inline text-left"
                  target={child.target}
                >
                  {child.title}
                </a>
              </li>
            ))}
          </ul>
        </Dropdown>
      </li>
    ) : (
      <li>
        <a
          href={item.href}
          class="btn-normal btn-inline text-left"
          target={item.target}
        >
          {item.title}
        </a>
      </li>
    )
  )
}
