---
import IconList from '~icons/bi/list'
import IconClose from '~icons/bi/x-lg'

import NavBarLinks from './NavBarLinks.astro'
import NavBarLocaleTheme from './NavBarLocaleTheme.astro'
import Social from './NavBarSocial.astro'
import Search from './NavBarSearch.astro'
---

<style>
  .nav-drawer > input {
    @apply hidden;
  }
  .nav-drawer > .content,
  .nav-drawer > * .content {
    @apply hidden;
  }
  .nav-drawer > input:checked ~ .content,
  .nav-drawer > input:checked ~ * .content {
    @apply flex;
  }
  .nav-drawer > input:checked ~ * .icon-closed {
    @apply hidden;
  }

  .nav-drawer > input:not(:checked) ~ * .icon-open {
    @apply hidden;
  }
</style>

<nav class="bg-base-100 sticky top-0 py-4 px-8 z-nav">
  <!-- Desktop -->
  <ul class="hidden lg:flex justify-between">
    <li class="flex items-center">
      <a class="pr-8" href={Astro.url.origin}>
        <img src="/meta/tauri_logo_dark.svg" alt="Tauri logo" class="h-10" />
      </a>
      <ul class="flex">
        <NavBarLinks mobile={false} />
      </ul>
    </li>
    <li>
      <ul class="flex">
        <Social />
        <li class="border-x border-content-background rounded m-2"></li>
        <NavBarLocaleTheme mobile={false} />
        <li class="pl-2">
          <Search />
        </li>
      </ul>
    </li>
  </ul>
  <!-- Mobile -->
  <ul class="lg:hidden flex flex-col items-stretch gap-4 nav-drawer">
    <input type="checkbox" id="nav-drawer" />
    <li class="flex justify-between">
      <a href={Astro.url.origin}>
        <img src="/meta/tauri_logo_dark.svg" alt="Tauri logo" class="h-10" />
      </a>
      <ul class="flex">
        <li>
          <ul class="content">
            <NavBarLocaleTheme mobile={true} />
          </ul>
        </li>
        <li>
          <label for="nav-drawer" class="btn icon-closed" tabindex="0">
            <IconList />
          </label>
          <label for="nav-drawer" class="btn icon-open" tabindex="0">
            <IconClose />
          </label>
        </li>
      </ul>
    </li>
    <div
      class="content fixed inset-0 top-16 flex flex-col gap-4 bg-base-100 w-full z-mobile-nav px-8 py-4"
    >
      <Search />
      <ul class="overflow-auto">
        <NavBarLinks mobile={true} />
      </ul>
      <ul class="flex">
        <Social />
      </ul>
    </div>
  </ul>
</nav>
