---
import { t, l } from "astro-i18n";
import Dropdown from "../Dropdown.astro";
import NavBarLink from "./NavBarLink.astro";
import type { NavbarItem } from "./NavBarLink.astro";
import Collapse from "../Collapse.astro";

interface Props {
  inlineMenu?: boolean;
}

const { inlineMenu } = Astro.props;

const navbar: NavbarItem[] = [
  {
    title: t("global.nav.documentation"),
    href: l("/1/docs"),
  },
  {
    title: t("global.nav.references"),
    children: [
      {
        title: t("global.nav.javascript-api"),
        href: l("/1/api/js"),
      },
      {
        title: t("global.nav.rust-api"),
        href: "https://docs.rs/tauri/1/",
        target: "_blank",
      },
      {
        title: t("global.nav.tauri-config"),
        href: l("/1/api/config"),
      },
      {
        title: t("global.nav.tauri-cli"),
        href: l("/1/api/cli"),
      },
    ],
  },
  {
    title: t("global.nav.blog"),
    href: "https://tauri.app/blog",
  },
  {
    title: t("global.nav.about"),
    children: [
      {
        title: "What is Tauri?",
        href: l("/about/intro"),
      },
      {
        title: "Governance",
        href: l("/about/governance"),
      },
      {
        title: "Trademark Guidelines",
        href: l("/about/trademark"),
      },
      {
        title: "Tauri Book",
        href: l("/about/book"),
      },
    ],
  },
];
---

{
  navbar.map((item) =>
    item.children ? (
      <li class="shrink-0">
        {inlineMenu ? (
          <Collapse>
            <div class="btn-normal btn-inline text-left" slot="toggle">
              {item.title}
            </div>
            <ul class="px-2 bg-base-200 rounded" slot="content">
              {item.children.map((child) => (
                <NavBarLink item={child} />
              ))}
            </ul>
          </Collapse>
        ) : (
          <Dropdown btnClass="btn-normal btn-inline text-left">
            <Fragment slot="toggle">{item.title}</Fragment>
            <ul slot="content">
              {item.children.map((child) => (
                <NavBarLink item={child} />
              ))}
            </ul>
          </Dropdown>
        )}
      </li>
    ) : (
      <NavBarLink item={item} />
    )
  )
}
