---
import type { MarkdownHeading } from 'astro'
import Dropdown from '@src/components/Dropdown.astro'
import { t } from 'astro-i18n'

// FIXME: Indention for hover effect needs to be fixed, should be lined up vertically between li's
interface Props {
  headings: MarkdownHeading[]
  dropdown?: boolean
}

const { headings, dropdown } = Astro.props

const minHeading = headings.reduce(
  (a, heading) => (a < heading.depth ? a : heading.depth),
  6
)
const headingsWithIndention = headings.map((heading) => ({
  ...heading,
  indention: `${(heading.depth - minHeading) * 2}`,
}))
---

{
  dropdown && (
    <Dropdown class="-mr-3 ml-3" btnClass="btn-compact" alignment={'right'}>
      <Fragment slot="toggle">{t('layout.on-this-page')}</Fragment>
      <ul slot="content" class="py-2 px-4">
        {headingsWithIndention.map((heading) => (
          <li>
            <a
              href={`#${heading.slug}`}
              class={`list-item pl-${heading.indention}`}
            >
              {heading.text}
            </a>
          </li>
        ))}
      </ul>
    </Dropdown>
  )
}
{
  !dropdown && (
    <ul>
      <li class="small-caps">{t('layout.on-this-page')}</li>
      {headingsWithIndention.map((heading) => (
        <li>
          <a
            href={`#${heading.slug}`}
            class={`list-item pl-${heading.indention}`}
          >
            {heading.text}
          </a>
        </li>
      ))}
    </ul>
  )
}
