---
import Layout from "@src/layouts/SidebarLayout.astro";
import { createStaticPaths } from "astro-i18n";
import { astroI18n, l } from "astro-i18n";
import { getCollection, getEntry } from "astro:content";
import { buildSidebarObject } from "@src/components/Layout/RelatedPages.astro";

export const getStaticPaths = createStaticPaths(async ({ langCode }) => {
  // TODO: Currently the lang can't be extracted using this approach
  // TODO: Go back to the original approach of letting Astro handle routing itself?
  let collection = await getCollection("docs", ({ slug }) => {
    return (
      // Filter to only default locale
      slug.split("/")[0] == astroI18n.defaultLangCode &&
      // Filter out any fragments
      !slug.split("/").some((part) => part.startsWith("_"))
    );
  });

  if (astroI18n.defaultLangCode != langCode) {
    collection = await Promise.all(
      collection.map(async (entry) => {
        const [_, ...slugParts] = entry.slug.split("/");
        const slug = `${langCode}/${slugParts.join("/")}`;
        // Attempt to retrieve a localized Entry
        const localizedEntry = await getEntry("docs", slug);
        // Return it if found
        if (localizedEntry) {
          return localizedEntry;
        }
        // Otherwise provide a fallback
        return { ...entry, fallback: true };
      })
    );
  }

  collection = collection.map((entry) => {
    const [_, version, ...slugParts] = entry.slug.split("/");
    // Build a localized path
    const path = `${version}/docs/${slugParts.join("/")}`;
    return {
      ...entry,
      path: l(path, undefined, langCode),
    };
  });

  return collection.map((entry) => {
    const [_, version, ...slugParts] = entry.slug.split("/");
    const slug = slugParts.join("/");
    return {
      params: {
        version,
        slug: slug === "" ? undefined : slug,
      },
      props: {
        entry,
        collection,
      },
    };
  });
}, import.meta.url);

let { entry, collection } = Astro.props;
const { Content, headings } = await entry.render();
let entries = undefined;
entries = buildSidebarObject(collection)[0]["_children"];
---

<Layout
  title="test docs post"
  sidebarEntries={entries}
  headings={headings}
  contributeUrl={entry.id}
  enableTranslate={true}
>
  {entry.fallback && <div>Using a fallback page</div>}
  <div class="prose">
    <Content />
  </div>
</Layout>
