---
import Layout from '../../../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { locales } from '../../../config'
import Author from '../../../components/Blog/Author.astro'

export async function getStaticPaths() {
  const collection = await getCollection('blog')

  // TODO: Need to build in fallbacks if a non-english page doesn't exist

  return collection.map((entry) => {
    const [locale, slug] = entry.slug.split('/')
    const year = entry.data.date.getFullYear()
    const month = String(entry.data.date.getMonth() + 1).padStart(2, '0')
    const day = String(entry.data.date.getDate() + 1).padStart(2, '0')

    return {
      params: {
        locale,
        slug: `${year}/${month}/${day}/${slug}`,
      },
      props: { entry },
    }
  })
}

const { entry } = Astro.props
const { Content, headings } = await entry.render()
---

<Layout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <p class="small-caps">
    Posted {
      entry.data.date.toLocaleDateString(undefined, { dateStyle: 'long' })
    }
  </p>
  <Author authors={entry.data.authors} />
  {entry.data.imageSrc && <img src={entry.data.imageSrc} />}
  <Content />
</Layout>
