---
import type { TreeNode } from '@src/utils.js'
import type { MarkdownHeading } from 'astro'
import OnThisPage from '@src/components/Layout/OnThisPage.astro'
import RelatedPages from '@src/components/Layout/RelatedPages.astro'
import Footer from '../components/Layout/Footer.astro'
import Layout from './BaseLayout.astro'
import Contribute from '@src/components/Layout/Contribute.astro'

interface Props {
  title: string
  relatedPages: TreeNode[]
  baseUrl: string
  headings: MarkdownHeading[]
}

const { title, relatedPages, baseUrl, headings } = Astro.props
---

<Layout title={title}>
  <div
    class="absolute inset-0 top-[var(--nav-height)] flex justify-between bg-base-200"
  >
    <div
      class="hidden flex-none lg:block w-[var(--sidebar-width)] overflow-y-auto break-words styled-scrollbar p-4"
    >
      <RelatedPages tree={relatedPages} baseUrl={baseUrl} />
    </div>
    <div class="overflow-y-auto styled-scrollbar py-4 px-8 w-full">
      <div class="max-w-[150ch] mx-auto">
        <div class="xl:hidden relative">
          <div class="lg:hidden absolute">
            <RelatedPages
              tree={relatedPages}
              baseUrl={baseUrl}
              dropdown={true}
            />
          </div>
          <OnThisPage headings={headings} dropdown={true} />
        </div>
        <main>
          <slot />
        </main>
        <div class="xl:hidden mt-8"><Contribute /></div>
        <Footer />
      </div>
    </div>
    <div
      class="hidden xl:block flex-none w-[var(--sidebar-width)] overflow-y-auto break-words styled-scrollbar p-4"
    >
      <ul>
        <li>
          <OnThisPage headings={headings} />
        </li>
        <li class="list-base"></li>
        <li>
          <Contribute />
        </li>
      </ul>
    </div>
  </div>
</Layout>
