---
import type { MarkdownHeading } from "astro";
import OnThisPage from "@src/components/Layout/OnThisPage.astro";
import RelatedPages from "@src/components/Layout/RelatedPages.astro";
import Footer from "../components/Layout/Footer.astro";
import Layout from "./BaseLayout.astro";
import IconTag from "~icons/bi/tag-fill";
import IconGithub from "~icons/bi/github";
import IconTranslate from "~icons/bi/translate";

interface Props {
  title?: string;
  headings: MarkdownHeading[];
  sidebarEntries?: any;
  enableContribute?: boolean;
  enableTranslate?: boolean;
}

const { title, sidebarEntries, headings, enableContribute, enableTranslate } =
  Astro.props;
---

<Layout title={title}>
  <div class="flex bg-base-200 pt-6 px-6">
    {
      sidebarEntries && (
        <div class="sticky flex-none w-[250px] top-[calc(var(--nav-height)+24px)] h-[calc(100vh-var(--nav-height)-24px)] overflow-y-auto styled-scrollbar max-lg:hidden pl-2 mr-4 text-base-content/75">
          <RelatedPages entries={sidebarEntries} />
        </div>
      )
    }
    <div class="mx-auto max-w-[min(100%,1024px)]">
      <ul class="flex flex-row gap-2 pb-4 justify-between -mt-2 -mx-2">
        <li class="max-lg:hidden">
          <a class="btn-compact flex gap-2 items-center">
            <IconTag />
            Tauri V1 (Latest)
          </a>
        </li>
        {
          // TODO: Link logic
          enableContribute && (
            <li class="max-lg:hidden">
              <a
                href="https://github.com/tauri-apps/tauri-docs"
                class="btn-compact flex gap-2 items-center"
              >
                <IconGithub />
                Contribute
              </a>
            </li>
          )
        }
        {
          // TODO: Link logic
          enableTranslate && (
            <li class="max-lg:hidden">
              <a
                href="https://github.com/tauri-apps/tauri-docs"
                class="btn-compact flex gap-2 items-center"
              >
                <IconTranslate />
                Translate
              </a>
            </li>
          )
        }
        {
          sidebarEntries && (
            <li class="lg:hidden">
              <RelatedPages entries={sidebarEntries} dropdown={true} />
            </li>
          )
        }
        <li class="grow"></li>
        <li class="xl:hidden">
          <OnThisPage
            headings={headings}
            dropdown={true}
            alignment="trailing"
          />
        </li>
      </ul>
      <main>
        <slot />
      </main>
      <ul class="lg:hidden flex flex-row gap-6 small-caps">
        {enableContribute && <li class="btn-compact">Contribute</li>}
        {enableTranslate && <li class="btn-compact">Translate</li>}
      </ul>
      <Footer />
    </div>
    <div
      class="sticky flex-none w-[250px] top-[calc(var(--nav-height)+24px)] h-[calc(100vh-var(--nav-height)-24px)] overflow-y-auto styled-scrollbar max-xl:hidden pl-2 ml-4 text-base-content/75"
    >
      <OnThisPage headings={headings} />
    </div>
  </div>
</Layout>

<style>
  :root {
    --top-padding: calc(100vh-var(--nav-height)-24px);
  }
</style>
