---
import type { TreeNode } from '@src/utils.js'
import type { MarkdownHeading } from 'astro'
import OnThisPage from '@src/components/Layout/OnThisPage.astro'
import Translate from '@src/components/Layout/Translate.astro'
import Tree from '@src/components/Tree.astro'
import { t } from 'astro-i18n'
import Footer from '../components/Layout/Footer.astro'
import Layout from './BaseLayout.astro'
import Github from '~icons/bi/github'
import Contribute from '@src/components/Layout/Contribute.astro'

interface Props {
  title: string
  relatedPages: TreeNode[]
  baseUrl: string
  headings: MarkdownHeading[]
  entry: any
  editOnGithub?: boolean
}

const { title, relatedPages, baseUrl, headings, entry, editOnGithub } =
  Astro.props
---

<Layout title={title}>
  <div
    class="absolute inset-0 top-[var(--nav-height)] flex justify-between bg-base-200"
  >
    <div
      class="hidden flex-none lg:block w-[var(--sidebar-width)] overflow-y-auto break-words styled-scrollbar p-4"
    >
      <Tree tree={relatedPages} baseUrl={baseUrl} />
    </div>
    <div class="max-w-[150ch] overflow-y-auto styled-scrollbar py-4 px-8">
      <span class="xl:hidden">
        <OnThisPage headings={headings} dropdown={true} />
      </span>
      <main>
        <slot />
      </main>
      <span class="xl:hidden"><Contribute /></span>
      <Footer />
    </div>
    <div
      class="hidden xl:block flex-none w-[var(--sidebar-width)] overflow-y-auto break-words styled-scrollbar p-4"
    >
      <ul>
        <li>
          <OnThisPage headings={headings} />
        </li>
        <li class="list-base"></li>
        <li>
          <Contribute />
        </li>
      </ul>
    </div>
  </div>
</Layout>
